#{% extends "base.tmpl" %}
{% block title %}Admin{% endblock %}
{% block content %}
<br />

<div class="columns">
    <div class="column is-6">
        <div class="box">
            <h3 class="title" style="font-weight: bold">
                About Me
            </h3>
            <p>
                {{ about_text|safe }}
            </p>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <p style="text-align: center">
                        <i class="fa fa-instagram fa-5x"></i>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <p style="text-align: center">
                        <i class="fa fa-instagram fa-5x"></i>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <p style="text-align: center">
                        <i class="fa fa-instagram fa-5x"></i>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <p style="text-align: center">
                        <i class="fa fa-instagram fa-5x"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-6">
        <div class="box">
            <h3 class="title" style="font-weight: bold">
                Contact Me
            </h3>
            <p>
                {{ contact_text|safe }}
            </p>
            <!--<br />
            <form action="#" method="post">
                <p class="control">
                    <label class="label">Full name</label>
                    <input class="input" name="name" type="text">
                </p>
                <p class="control">
                    <label class="label">Email address</label>
                    <input class="input" name="email" type="text">
                </p>
                <p class="control">
                    <label class="label">Subject</label>
                    <input class="input" name="subject" type="text">
                </p>
                <p class="control">
                    <label class="label">Body</label>
                    <textarea class="textarea" name="body"></textarea>
                </p>
                <p class="control">
                    <input class="checkbox" name="send-copy" type="checkbox">
                    Send a copy to my email address
                </p>
                <p class="control">
                    <button class="button">
                        Send Email
                    </button>
                </p>
            </form>-->
        </div>
    </div>
</div>

{% endblock %}