{% extends "base.tmpl" %}
{% block title %}Admin{% endblock %}
{% block content %}
<br />
<div class="columns">
    <div class="column is-2">
        <nav class="panel admin-menu">
            <a class="admin-button panel-block" data-toggle="#homepage-section" href="#admin-homepage">
                Homepage
            </a>
            <a class="admin-button panel-block" data-toggle="#portfolio-section" href="#admin-portfolio">
                Portfolio
            </a>
            <a class="admin-button panel-block" data-toggle="#projects-section" href="#admin-projects">
                Projects
            </a>
            <a class="admin-button panel-block" data-toggle="#information-section" href="#admin-information">
                Information
            </a>
            <a class="admin-button panel-block" data-toggle="#social-accounts-section" href="#admin-social-accounts">
                Social accounts
            </a>
            <a class="panel-block" href="/logout">
                Logout
            </a>
        </nav>
    </div>
    <div class="column is-10">
        <div id="homepage-section" class="box admin-section active-section">
            <h3 class="title">
                Homepage
            </h3>
        </div>
        <div id="portfolio-section" class="admin-section" style="display: none">
            <div class="box">
                <h3 class="title">
                    Portfolio
                </h3>
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Thumbnail</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for item in portfolio_images %}
                        <tr>
                            <td>{{ item.id }} ({{ item.index }})</td>
                            <td><img src="{{ item.thumbnail }}" style="max-width: 100px; max-height: 100px;" /></td>
                            <td><img src="{{ item.image }}" style="max-width: 100px; max-height: 100px;" /></td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.description }}</td>
                            <td>
                                <div class="columns is-gapless">
                                    <div class="column">
                                        <a class="button" href="/admin/portfolio/order/{{ item.id }}/{{ item.index }}/up" style="margin: 5px;">
                                            <i class="fa fa-arrow-up"></i>
                                        </a>
                                    </div>
                                    <div class="column">
                                        <a class="button" href="/admin/portfolio/order/{{ item.id }}/{{ item.index }}/down" style="margin: 5px;">
                                            <i class="fa fa-arrow-down"></i>
                                        </a>
                                    </div>
                                    <div class="column">
                                        <a class="button is-warning portfolio-edit-button" data-toggle="#portfolio-edit-{{ item.id }}" href="#portfolio-edit-{{ item.id }}" style="margin: 5px;">
                                            Edit
                                        </a>
                                    </div>
                                    <div class="column">
                                        <a class="button is-danger" href="/admin/portfolio/delete/{{ item.id }}" style="margin: 5px;">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% for item in portfolio_images %}
                <div class="box portfolio-edit-section" id="portfolio-edit-{{ item.id }}" style="display: none">
                    <a class="is-pulled-right portfolio-edit-section-close">
                        <i class="fa fa-close fa-2x"></i>
                    </a>
                    <h4 class="title">
                        Edit image
                    </h4>
                    <p>
                        Image ID: <code>{{ item.id }}</code>
                    </p>
                    <br />
                    <form action="/admin/portfolio/edit" method="post" enctype="multipart/form-data">
                        <input type="text" name="id" value="{{ item.id }}" style="display: none">
                        <p class="control">
                            <label class="label">Thumbnail (choose file only if you want to change the image)</label>
                            <input type="file" name="thumbnail">
                        </p>
                        <p class="control">
                            <label class="label">Image (choose file only if you want to change the image)</label>
                            <input type="file" name="image">
                        </p>
                        <p class="control">
                            <label class="label">Title</label>
                            <input class="input" type="text" name="title" value="{{ item.title }}">
                        </p>
                        <p class="control">
                            <label class="label">Description</label>
                            <textarea class="textarea" name="description">{{ item.description }}</textarea>
                        </p>
                        <p class="control">
                            <label class="label">Project (not required)</label>
                            <input class="input" type="text" name="project" value="{{ item.project }}">
                        </p>
                        <p class="control">
                            <button type="submit">Save</button>
                        </p>
                    </form>
                </div>
            {% endfor %}
            <div class="box">
                <h4 class="title">
                    Add image
                </h4>
                <form action="/admin/portfolio/new" method="post" enctype="multipart/form-data">
                    <p class="control">
                        <label class="label">Thumbnail</label>
                        <input type="file" name="thumbnail">
                    </p>
                    <p class="control">
                        <label class="label">Image</label>
                        <input type="file" name="image">
                    </p>
                    <p class="control">
                        <label class="label">Title</label>
                        <input class="input" type="text" name="title">
                    </p>
                    <p class="control">
                        <label class="label">Description</label>
                        <textarea class="textarea" name="description"></textarea>
                    </p>
                    <p class="control">
                        <label class="label">Project (not required)</label>
                        <input class="input" type="text" name="project">
                    </p>
                    <p class="control">
                        <button type="submit">Submit</button>
                    </p>
                </form>
            </div>
        </div>
        <div id="projects-section" class="box admin-section" style="display: none">
            <h3 class="title">
                Projects
            </h3>
        </div>
        <div id="information-section" class="box admin-section" style="display: none">
            <h3 class="title">
                Information
            </h3>
            <form action="/admin/information" method="post">
                <p class="control">
                    <label class="label">About text</label>
                    <textarea class="textarea" name="about">{{ about_text }}</textarea>
                </p>
                <p class="control">
                    <label class="label">Contact text</label>
                    <textarea class="textarea" name="contact">{{ contact_text }}</textarea>
                </p>
                <p class="control">
                    <button type="submit">Submit</button>
                </p>
            </form>
        </div>
        <div id="social-accounts-section" class="box admin-section" style="display: none">
            <h3 class="title">
                Social accounts
            </h3>
            <form action="/admin/social_accounts" method="post">
                {% for account in social_accounts %}
                    <p class="control">
                        <label class="label">{{ account.id }}</label>
                        <input class="input" type="text" name="{{ account.id }}" value="{{ account.link }}">
                    </p>
                {% endfor %}
                <p class="control">
                    <button type="submit">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}