<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sam Burnard | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/unslider.css">
    <link rel="stylesheet" href="/static/css/unslider-dots.css">
</head>
<body>
<section class="nav-container">
    <nav class="nav title-text">
        <div class="container">
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
            <div class="nav-center nav-menu">
                <a class="nav-item top-nav-item" style="margin: 30px -15px 0 0; {% if (active_tab == "home") %}color: black;{% endif %}" href="/">
                    Home
                </a>
                <a class="nav-item top-nav-item" style="margin: 15px -15px 0 0; {% if (active_tab == "portfolio") %}color: black;{% endif %}" href="/portfolio" id="navtab-portfolio">
                    Portfolio
                </a>
                <a class="nav-item top-nav-heading" href="/">
                    Sam Burnard
                </a>
                <a class="nav-item top-nav-item" style="margin: 15px 0 0 -15px; {% if (active_tab == "projects") %}color: black;{% endif %}" href="/projects" id="navtab-projects">
                    Projects
                </a>
                <a class="nav-item top-nav-item" style="margin: 30px 0 0 -15px; {% if (active_tab == "about") %}color: black;{% endif %}" href="/about" id="navtab-about">
                    About
                </a>
            </div>
        </div>
    </nav>
</section>
<section class="container">
    {% block content %}{% endblock %}
</section>
<br />
<section class="container footer">
    <p>Copyright &copy; {{ current_year }} Sam Burnard</p>
</section>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/js/base.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>