{% extends "base.tmpl" %}
{% block title %}Illustration and Design{% endblock %}
{% block content %}
<br />

<div class="my-slider" style="margin-left: 40px; margin-right: 40px;">
    <ul>
        {% for item in slider_items %}
            <li>
                <img src="{{ item.image }}" style="width: 100%" />
            </li>
        {% endfor %}
    </ul>
</div>
<div class="box welcome title-text" style="margin: 50px 0 50px 0">
    Welcome
</div>
<div class="columns">
    <div class="column is-9">
        <div class="columns">
            <div class="column is-6">
                <img src="http://placehold.it/600x600" width="100%" alt="generic alt text">
            </div>
            <div class="column is-6">
                <img src="http://placehold.it/600x600" width="100%" alt="generic alt text">
            </div>
        </div>
        <div class="columns">
            <div class="column is-6">
                <img src="http://placehold.it/600x600" width="100%" alt="generic alt text">
            </div>
            <div class="column is-6">
                <img src="http://placehold.it/600x600" width="100%" alt="generic alt text">
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="box">
            <h3 class="title">
                This is the title of a content box
            </h3>
            <p>This is the content!</p>
        </div>
        <br />
        <a class="twitter-timeline" data-height="725" href="https://twitter.com/samburnardart">Tweets by samburnardart</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<br />

{% endblock %}

{% block scripts %}
<script src="/static/js/unslider-min.js"></script>
<script>
    jQuery(document).ready(function($) {
        $('.my-slider').unslider({
            autoplay: true,
            arrows: {
                prev: '<a class="unslider-arrow prev"><i class="fa fa-arrow-left"></i></a>',
                next: '<a class="unslider-arrow next"><i class="fa fa-arrow-right"></i></a>'
            }
        });
    });
</script>
{% endblock %}