#{% extends "base.tmpl" %}
{% block title %}Admin{% endblock %}
{% block content %}
<br />

<form action="#" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">Login</button>
</form>

{% endblock %}