#{% extends "base.tmpl" %}
{% block title %}Login{% endblock %}
{% block content %}
<br />
<div class="columns">
    <div class="column is-6-desktop is-offset-3-desktop is-12-mobile">
        <div class="box">
            <form action="#" method="post">
                <p class="control">
                    <label class="label">Username</label>
                    <input class="input" type="text" name="username">
                </p>
                <p class="control">
                    <label class="label">Password</label>
                    <input class="input" type="password" name="password">
                </p>
                <p class="control">
                    <button class="button" type="submit">Login</button>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}