{% extends "base.tmpl" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<br />

{% for item in images %}
    <div id="modal-{{ item.id }}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="columns">
                <div class="column is-3">
                    <div class="box">
                        <h3 class="title is-3">
                            {{ item.title }}
                        </h3>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
                <div class="column is-9">
                    <p class="image is-4by3">
                        <img src="{{ item.image }}">
                    </p>
                </div>
            </div>
        </div>
        <button class="modal-close"></button>
    </div>
{% endfor %}
<div class="columns">
    {% for item in images %}
        <div class="column is-4">
            <figure class="image is-4by3 modal-toggler" data-toggle="#modal-{{ item.id }}">
                <img src="{{ item.image }}" />
            </figure>
        </div>
    {% endfor %}
</div>

{% endblock %}