#{% extends "base.tmpl" %}
{% block title %}Project{% endblock %}
{% block content %}
<br />
<div class="columns">
    <div class="column is-3">
        <div class="box">
            <h3 class="title" style="font-weight: bold">
                YEAH BOYYYYYYYY
            </h3>
            <p>
                A very good description and shit
            </p>
        </div>
    </div>
    <div class="column is-9">
        <div class="columns">
            <div class="column is-4">
                <figure class="image">
                    <img src="http://placehold.it/800x500" />
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="http://placehold.it/800x500" />
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="http://placehold.it/800x500" />
                </figure>
            </div>
        </div>
    </div>
</div>
{% endblock %}