{% extends "base.tmpl" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<br />
<div class="columns">
    <div class="column is-4">
        <a href="/projects/1234">
            <figure class="image">
                <img src="http://placehold.it/800x500" />
            </figure>
        </a>
    </div>
    <div class="column is-4">
        <a href="/projects/1234">
            <figure class="image">
                <img src="http://placehold.it/800x500" />
            </figure>
        </a>
    </div>
    <div class="column is-4">
        <a href="/projects/1234">
            <figure class="image">
                <img src="http://placehold.it/800x500" />
            </figure>
        </a>
    </div>
</div>
{% endblock %}